<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd    http://www.springframework.org/schema/context
		        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<!-- Declaraciones DAO donde le añadiremos a cada uno de los dao el sessionFactory 
		de la configuración de hibernate -->
	<bean id="UsuarioDAO" class="es.us.master.base.usuario.dao.UsuarioDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	<bean id="RestaurantesDAO" class="es.us.master.base.restaurantes.dao.RestaurantesDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	<!-- Configuraciones para que funcionen las anotaciones @Service, las @Repository 
		no han llegado a funcionar bien porque no inyecta bien el sessionFactory 
		al llegar al servicio -->
	<context:component-scan base-package="es.us.master" />
	<context:annotation-config />
	<mvc:annotation-driven />

	<!-- Importación configuración base de datos con hibernate -->
	<import resource="database.xml" />
</beans> 
