<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
	<!-- Beans Declaration -->
	<bean id="Usuario" class="es.us.master.base.usuario.model.Usuario" />
	<bean id="Restaurantes" class="es.us.master.base.restaurantes.model.Restaurantes" />

	<!-- User Service Declaration -->
	<bean id="UserService" class="es.us.master.base.usuario.service.UsuarioService">
		<property name="usuarioDAO" ref="UsuarioDAO" />
	</bean>
	<bean id="RestaurantesService" class="es.us.master.base.restaurantes.service.RestaurantesService">
		<property name="restaurantesDAO" ref="RestaurantesDAO" />
	</bean>

	<!-- User DAO Declaration -->
	<bean id="UsuarioDAO" class="es.us.master.base.usuario.dao.UsuarioDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	<bean id="RestaurantesDAO" class="es.us.master.base.restaurantes.dao.RestaurantesDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	
	<bean id="dataSource" class="oracle.jdbc.pool.OracleConnectionPoolDataSource">
		<property name="URL" value="jdbc:oracle:thin:@localhost:1521:cdb1" />
		<property name="user" value="c##alemarcha" />
		<property name="password" value="oracle" />
	</bean>
	<bean id="SessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="es.us.master" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>

</beans> 
